USE [master]
GO
/****** Object:  Database [GestaoOficina]    Script Date: 26/04/2026 18:24:33 ******/
CREATE DATABASE [GestaoOficina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestaoOficina', FILENAME = N'C:\Users\camar\GestaoOficina.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestaoOficina_log', FILENAME = N'C:\Users\camar\GestaoOficina_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestaoOficina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestaoOficina]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 26/04/2026 18:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NomeMarca] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 26/04/2026 18:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NomeModelo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veiculo]    Script Date: 26/04/2026 18:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [int] NOT NULL,
	[Modelo] [int] NOT NULL,
	[Ano] [int] NOT NULL,
	[UltimaInspecao] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([ID], [NomeMarca]) VALUES (1, N'Toyota')
INSERT [dbo].[Marca] ([ID], [NomeMarca]) VALUES (2, N'Honda')
INSERT [dbo].[Marca] ([ID], [NomeMarca]) VALUES (3, N'Ford')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON 

INSERT [dbo].[Modelo] ([ID], [NomeModelo]) VALUES (1, N'Corolla')
INSERT [dbo].[Modelo] ([ID], [NomeModelo]) VALUES (2, N'Civic')
INSERT [dbo].[Modelo] ([ID], [NomeModelo]) VALUES (3, N'Focus')
SET IDENTITY_INSERT [dbo].[Modelo] OFF
GO
SET IDENTITY_INSERT [dbo].[Veiculo] ON 

INSERT [dbo].[Veiculo] ([Id], [Marca], [Modelo], [Ano], [UltimaInspecao], [Estado]) VALUES (1, 1, 1, 2020, CAST(N'2025-03-10' AS Date), 0)
INSERT [dbo].[Veiculo] ([Id], [Marca], [Modelo], [Ano], [UltimaInspecao], [Estado]) VALUES (2, 2, 2, 2019, CAST(N'2023-11-05' AS Date), 1)
INSERT [dbo].[Veiculo] ([Id], [Marca], [Modelo], [Ano], [UltimaInspecao], [Estado]) VALUES (3, 3, 3, 2021, CAST(N'2024-06-12' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Veiculo] OFF
GO
ALTER TABLE [dbo].[Veiculo] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD  CONSTRAINT [FK_Veiculo_Marca] FOREIGN KEY([Marca])
REFERENCES [dbo].[Marca] ([ID])
GO
ALTER TABLE [dbo].[Veiculo] CHECK CONSTRAINT [FK_Veiculo_Marca]
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD  CONSTRAINT [FK_Veiculo_Modelo] FOREIGN KEY([Modelo])
REFERENCES [dbo].[Modelo] ([ID])
GO
ALTER TABLE [dbo].[Veiculo] CHECK CONSTRAINT [FK_Veiculo_Modelo]
GO
USE [master]
GO
